<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.rennes.perso.todo">

    <application
        android:name=".sqlite.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.TodoListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.TaskListActivity" />
        <activity android:name=".activitys.TodoAddActivity" />
        <activity android:name=".activitys.TaskAddActivity" />
        <activity android:name=".activitys.TaskDetailActivity" />
    </application>

</manifest>